@font-face {
	font-family: 'type';
	src: url('IBMPlexMono-Regular.ttf')
}

.content {
	right: 0;
	top: 0;
	font-family: monospace;
	font-size: 1.2vmin;
	color: #fff;
	height: 65vmin;
	width: 70vmin;
	background: #0e1116;
	padding: 1vmin;
	border-bottom:solid 0.3vmin #080909;
	border-right:solid 0.4vmin #080909;
	border-radius: 0.5em;
}

.content img {
	display: block;
	width: 55vmin;
	margin: auto;
}

.content pre {
	display: block;
	margin: auto;
	margin-top: 2vmin;
	width: 90%;
	padding: 1vmin;
	border-bottom:solid 0.2vmin #484848;
	border-right:solid 0.2vmin #484848;
	border-radius: 0.3em;
}

input:checked ~ .deployable > .content .links {
	position: absolute;
	bottom: 1vmin;
}

.links {
	display: flex;
	/* justify-content: space-between; */
	gap: 2vmin;
}

.content a {
  color: inherit;
}

body {
	display: flex;
	align-items: center;
	background: #181818;
	position: absolute;
	font-family: 'type';
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

/* DEPLOYABLE */

.deployable {
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

input:checked ~ .deployable {
  	max-width: 10000px;
	max-height: 10000px;
}

input:checked ~ .deployable > .content {
  	position: absolute;
}


input + label { display: block; }


/* ABOUT  */

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vmin;
	width: 30%;
}

.about-description {
	width: 60%;
	text-align: justify;
}

.name-title {
	color: #fff;
	font-size: 3.5vmin;
	margin-bottom: 0;
}

.sub-header {
	font-size: 1.5vmin;
}

.sub-header em,
.name-title em {
	font-style: normal;
	color: #ea6000;
}

.projects-container {
	position: relative;
	height: 60%;
	width: 60%;
	display: flex;
	flex-direction: column;
}

.project {
	margin-left: 2vmin;
	margin-bottom: 0.9vmin;
	display: flex;
	font-size: 2.4vmin;
}

.directory-title {
	font-size: 3vmin;
	margin-bottom: 1.2vmin;
}

/* SHAPE  */

.tree-directory {
  width: 2.2vmin;
  height: 2.4vmin;
  border: 0.25vmin solid #fff;
  border-right: 0;
  border-top: 0;
  margin-right: 1vmin;

  transform: translateY(-0.3rem);
}
