<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{%- set directories = get_section(path="directories/_index.md") -%}

{% for directory in directories.subsections %}
<div class="projects-container" >
{%- set projects = get_section(path=directory) -%}

<p class="directory-title" >{{ projects.title ~ "/" }}</p>
<div class="content" style="position: absolute;">
	{{ projects.content | spaceless | trim | safe }}
</div>
{% for project in projects.pages %}
<div class="project" >
	<script type="text/javascript">
		$('input[type="checkbox"]').on('change', function() {
		   $('input[type="checkbox"]').not(this).prop('checked', false);
		   $.each($('input[type="checkbox"]').not(this), function(index, value) {
		   	changeLabel(value.id);
		   });
		});

		function changeLabel(id) {

		  var _checkbox = document.getElementById(id);
		  var _label = document.getElementById('label_' + id);
		  if (!_checkbox.checked) {
		    _label.innerHTML = _checkbox.name;
		  } else {
		    _label.innerHTML = _checkbox.name + '/';
		  }
		}

	</script>
	<div class="tree-directory"></div>
	<input
		type="checkbox"
		id="{{ project.description }}"
		name="{{ project.title }}"
		value="menu-visibility"
		onclick="changeLabel('{{ project.description }}')"
		hidden  />
	<label
		id="{{ 'label_' ~ project.description }}"
		for="{{ project.description }}" >
		{{ project.title | spaceless | trim }}
	</label>

	<div class="deployable" >
		<div class="content">
			{{- project.content | spaceless | trim | safe -}}
		</div>
	</div>
</div>
{% endfor %}
</div>
{% endfor %}
