{%- set projects = get_section(path="projects/_index.md") -%}

<div class="projects" >
{% for project in projects.pages %}
	{% set open = False %}
	<input
		type="checkbox" id={{ project.title }}  name={{ project.title }}
		value="menu-visibility" hidden onchange="{% set open = open %}" />
	<label for={{ project.title }} >
		<span>
			{{ project.title }}
		</span>
	</label>

	<div {% if open %}class="deployable"{% else %}hidden{% endif %}>
		<div class="content">
			{{- project.content | spaceless | trim | safe -}}
		</div>
	</div>
{% endfor %}
</div>
