{%- set directories = get_section(path="directories/_index.md") -%}

{% for directory in directories.subsections %}
<div class="projects-container" >
{%- set projects = get_section(path=directory) -%}

<p class="directory-title" >{{ projects.title ~ "/" }}</p>
<div class="content" style="position: absolute;">
	{{ projects.content | spaceless | trim | safe }}
</div>
{% for project in projects.pages %}
<div class="project" >
	<div class="tree-directory"></div>
	<input
		type="checkbox"
		id="{{ project.id }}"
		name="{{ project.id }}"
		value="menu-visibility"
		hidden  />
	<label for="{{ project.id }}" >
		<span>
			{{ project.title }}
		</span>
	</label>

	<div class="deployable" >
		<div class="content">
			{{- project.content | spaceless | trim | safe -}}
		</div>
	</div>
</div>
{% endfor %}
</div>
{% endfor %}
